<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>phase1-ecommerce-crud-01-24-2021</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitializeConnection</servlet-name>
    <servlet-class>com.ecommerce.web.InitializeConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeConnection</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>com.ecommerce.web.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/list-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProducts</servlet-name>
    <servlet-class>com.ecommerce.web.AddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProducts</servlet-name>
    <url-pattern>/add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.ecommerce.web.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/update-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.ecommerce.web.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/delete-product</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>UpdateProductWithParam</servlet-name>
    <servlet-class>com.ecommerce.web.UpdateProductWithParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductWithParam</servlet-name>
    <url-pattern>/update-product-with-param</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CallAddProductStoredProcedure</servlet-name>
    <servlet-class>com.ecommerce.web.CallAddProductStoredProcedure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallAddProductStoredProcedure</servlet-name>
    <url-pattern>/add-product-sp</url-pattern>
  </servlet-mapping>
</web-app>